<!doctype html>
<html>
<head>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
 <script src="js/Practice_1.js"></script>
</head> 
<body>
 <div ng-app="myApp" ng-controller="myCtrl">
  <input type="checkbox" ng-model="my_value" ng-change="check_all(this,'ch_cls')">Check_All<br></br>
  
  <input id="ch_1" type="checkbox" name="ch_nam" class="ch_cls" ng-model="my_value">Item_1<br>
  <input id="ch_2" type="checkbox" name="ch_nam" class="ch_cls" ng-model="my_value">Item_2<br>
  <input id="ch_3" type="checkbox" name="ch_nam" class="ch_cls" ng-model="my_value">Item_3<br>
  <input id="ch_4" type="checkbox" name="ch_nam" class="ch_cls" ng-model="my_value">Item_4<br>
 </div>
</body>
</html>