<!doctype html>
<html>
<head>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
 <!-- <script src="js/data_binding.js"></script> -->
</head> 
<body>
 <div ng-app="myApp" ng-init="qnt=1; cost=2;">
  Invoice:
  <div>
   Quantity: <input type="number" ng-model="qnt">
  </div><br>
  <div>
   Cost: <input type="number" ng-model="cost">
  </div><br>
  <div>
   Total: {{qnt * cost | currency}}
  </div>
 </div>
 
 <script>
 angular.module("myApp",[]);
 </script>
</body>
</html>