<!doctype html>
<html>
<head>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
 <script src="js/databindingUI_Logic.js"></script>
</head> 
<body>
 <div ng-app="myApp" ng-controller="myCtrl as ctr">
  Invoice:
  <div>
   Quantity: <input type="number" ng-model="ctr.qnt">
  </div><br>
  <div>
   Cost: <input type="number" ng-model="ctr.cost">
  </div><br>
  Select continent: 
   <select ng-model="ctr.inCurr">
    <option ng-repeat="c in ctr.currency">{{c}}</option>
   </select><br>
  <div>
   Total: <br>
    <span ng-repeat="c in ctr.currency">
	 {{ctr.total(c) | currency:c}}<br>
	</span><br><br>
	<button ng-click="ctr.save()">Save</button>
  </div>
 </div>
 
 
</body>
</html>